.project-schemas {
	display: flex;
	flex-direction: column;

	.add-scheme {
		margin-left: 1rem;
		/* bad solution */
		width: 10rem;
	}

	.project-name {
		align-self: center;
		font-weight: bold;
		text-transform: uppercase;
	}

	.schemas-container {
		flex-wrap: wrap;
		justify-content: start;
		overflow-y: scroll;
		padding: 1rem;

		.scheme-form {
			margin: 0.5rem;
		}
	}
}