@import '../../variables.scss';

.navbar {
	border-bottom: solid rgba(125, 125, 125, 0.24);
	height: 15%;

	.logo {
		font-size: 5rem;
		margin-left: 2rem;

		a {
			color: $primary;
		}
	}

	.links .link {
		color: $primary;
		font-size: 1.5rem;

		a {
			margin: 0 4rem;
		}
	}

	.auth {
		display: flex;
		margin: auto;
		margin-right: 2rem;

		.user {
			color: #03a9f4;
			font-weight: 600;
			display: inline-block;
			margin: auto;
			margin-right: 15px;
			text-transform: uppercase;
			border-right: 1px solid;
			padding: 5px;
		}
	}
}

.login-btn {
	margin: auto;
	margin-right: 10px;
}
