@import '../../variables';

.navbar {
	text-align: center;
	height: 15%;
	border-bottom: solid rgba(125, 125, 125, 0.24);

	.logo {
		color: $primary;
		font-size: 70px;
		text-align: center;
	}

	.button {
		height: $primary;
		border: none;
		color: #03A9F4;
		border-right: solid;
		background-color:white;
	}

	.button a{
		color:  $primary;
		text-decoration: none;
		cursor: auto;
		font-size: 22px;
		padding: 30px;
		padding-left: 50px;
		padding-right: 50px;
		line-height: 4;
	}
}
