@import '../../variables.scss';

.navbar {
	border-bottom: solid rgba(125, 125, 125, 0.24);
	height: 15%;

	.logo {
		font-size: 5rem;
		margin-left: 2rem;

		a {
			color: $primary;
		}
	}

	.links .link {
		color: $primary;
		font-size: 1.5rem;

		a {
			min-width: 15rem;
		}
	}
}

.login-btn {
	margin: auto;
	margin-right: 10px;
}
