// Import Bulma's and own variables
@import 'variables.scss';
// Import the rest of Bulma
@import '../node_modules/bulma/bulma';

html, body, #root, .app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}